/* clients */
.clients .conteiner {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .title {
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.clients .link-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .item:not(:last-child) {
  margin-right: 30px;
}

.clients .link-clients:hover,
.clients .link-clients:focus {
  border: 1px solid $primary-logo-color;
  border-radius: 4px;
}

.link-clients:hover svg,
.link-clients:focus svg {
  fill: $primary-logo-color;
}
