.conteiner > .button {
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  outline: none;

  background-color: var(--primary-logo-color);
  color: var(--primary-fon-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
