/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;

  background-color: $primary-fon-color;
}

.modal .title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-form-conteiner {
  position: relative;
  border-radius: 4px;
  margin-bottom: 10px;
}

.modal label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;

  letter-spacing: 0.01em;

  color: $primary-text-color;
}

.modal-form {
  display: block;
  width: 100%;
  height: 40px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-conteiner svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form:hover,
.modal-form:focus {
  border: 1px solid $primary-logo-color;
  cursor: pointer;
}

.modal-form:hover + svg,
.modal-form:focus + svg {
  fill: $primary-logo-color;
}

.modal textarea {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-btn {
  margin-right: 8.38px;
}

.modal .modal-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: $primary-text-color;
}

.modal-policy-link {
  text-decoration: underline;

  color: $primary-logo-color;
}

.checkbox-policy:checked + .modal-policy svg {
  background-image: url(../images/svg/icon-check.svg);
  fill: transparent;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  outline: none;
  color: $primary-fon-color;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  cursor: pointer;
}

.backdrop .close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.close-button:hover svg,
.close-button:focus svg {
  fill: $primary-logo-color;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
